<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NaturalShow.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NaturalShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <userSettings>
    <NaturalShow.UI.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value>D:\projects\NaturalShow\ShowResources\</value>
      </setting>
      <setting name="ShowFile" serializeAs="String">
        <value>hdc10.xml</value>
      </setting>
      <setting name="ShowFileTemp" serializeAs="String">
        <value>hdc10.temp.xml</value>
      </setting>
    </NaturalShow.UI.Properties.Settings>
  </userSettings>
</configuration>